/* debug*/

/* #region Utilities  */

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-cl);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

section {
  margin: 0 16px;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

img {
  width: 100%;
}

:root {
  --header-text-cl: #ff9614;
  --header-background: white;
  --body-cl: #f6f5f3;
  --text-light: grey;
  --text-dark: #553f6a;
}

/* #endregion utilities */

/* #region header  */
header {
  background-color: var(--header-background);
  margin-bottom: 10px;

  .container {
    display: flex;
    justify-content: center;
  }
}

h1 {
  color: var(--header-text-cl);
  font-family: "Nerko One", cursive;
  font-size: 3rem;
}

/* #endregion header */

/* #region main */

/* section video */

.video {
  h4 {
    color: var(--text-light);
    font-weight: lighter;
    margin: 10px 0;
  }

  h3 {
    color: var(--text-dark);
    margin: 10px 0;
  }
  .container-sm {
    background-color: var(--header-background);
  }
}

span {
  display: none;
}

/* ma questa è una buona soluzione ? OVVIAMENTE NO*/
ul {
  list-style: none;
}
/* section video */

/* social  */

.container {
  .d-flex {
    justify-content: space-between;
    margin: 30px 0;
  }
}

.social {
  background-color: var(--header-background);
  display: inline-block;
  border-radius: 22px 22px;
  padding: 11px 13px;
  p {
    display: none;
  }
}

/* banner */

.banner {
  display: none;
}

/* #region presentation  */
hr {
  color: var(--header-text-cl);
  width: 40px;
}

h2 {
  font-weight: lighter; /*un po' troppo sottile */
  font-size: 2rem;
}
/* #endregion presentation */

/* #endregion main */

/* #region @media */

/* Soluzioni per il tablet da 768px  a salire */
@media screen and (min-width: 768px) {
  .container {
    width: 85%;

    max-width: 900px;
  }
  header {
    .container {
      justify-content: flex-start;
    }
  }

  main {
    span,
    .banner {
      display: inline-block;
    }
  }

  .social {
    padding: 11px 58px;
  }
}
/* Soluzioni per il tablet da 998px  a salire */

@media screen and (min-width: 998px) {
  .container {
    width: 90%;

    min-width: 900px;
  }

  .social {
    padding: 11px 13px;
    p {
      display: inline-block;
    }
  }
}
