/* debug*/

.debug {
  * {
    border: dotted rgba(128, 128, 128, 0.397);
  }

  main {
    background-color: #94aecf;
  }
}

/* #region Utilities  */

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-cl);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}
.container {
  width: 95%;
  max-width: 800px;
}

img {
  width: 100%;
}

/* #endregion utilities */

/* #region colors*/

:root {
  --header-text-cl: #ff9614;
  --header-background: white;
  --body-cl: #f6f5f3;
  --text-light: grey;
}

/* #endregion colors*/

/* #region header  */
header {
  background-color: var(--header-background);

  .container {
    display: flex;
    justify-content: center;
  }
}

h1 {
  color: var(--header-text-cl);
  font-family: "Nerko One", cursive;
  font-size: 3rem;
}

/* #endregion header */

/* #region main */

/* section video */

span {
  visibility: hidden;
}

/* #endregion main */

/* #region @media */

/* Soluzioni per il tablet da 768px  a salire */
@media screen and (min-width: 768px) {
  header {
    .container {
      justify-content: flex-start;
    }
  }

  span {
    visibility: visible;
  }
}
